:root {
    --clr-primary-400: hsl(158, 36%, 37%);
    --clr-secondary-200: hsl(30, 38%, 92%);
    
    --clr-neutral-900: hsl(212, 21%, 14%);
    --clr-neutral-400: hsl(228, 12%, 48%);
    --clr-neutral-100: hsl(0, 0%, 100%);
    
    --ff-accent: 'Fraunces', serif;
    --ff-base: 'Montserrat', sans-serif;
    
    --fw-regular: 500;
    --fw--bold: 700;
    }

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-base);
    font-weight: var(--fw-regular);
    color: var(--clr-neutral-400);
    background-color: var(--clr-secondary-200);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0 1rem;
}


img {
    max-width: 100%;
}

.product {
    background-color: var(--clr-neutral-100);
    border-radius: 10px;
    overflow: hidden;
}

.product__content {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
}

.product__category {
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}

.product__title {
    font-family: var(--ff-accent);
    font-size: 2rem;
    line-height: 1;
    color: var(--clr-neutral-900);
    margin-bottom: 1rem;
}

.product__description {
    font-size: 0.875rem;
    line-height: 1.7;
    margin-bottom: 1.5rem;
}

.flex-group {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.product__price {
    font-family: var(--ff-accent);
    font-size: 2rem;
    font-weight: 600;
    color: var(--clr-primary-400);
}

.product__original-price {
    font-size: 0.875rem;
    text-decoration: line-through;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    gap: 0.5rem;
    font-weight: var(--fw--bold);
    font-size: 0.925rem;
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-400);
    padding: 0.925rem 1.5rem;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: hsl(158, 36%, 20%);
}



@media (max-width: 654px) {
    .product__img > img:first-child {
        display: none;
    }
}

@media (min-width: 655px) {
    .product__img > img:nth-child(2) {
        display: none;
    }

    .product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 40rem;
    }

    .product__content {
        padding: 1.5rem 2.45rem;
        gap: 1rem;
    }

    .product__category {
        margin-top: 0.25rem;
    }
}